Samples/IvcWebService-v002/xml-resources/axis2/META-INF/IvcWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ivcWebService.alcaldiabogota.gov.co" xmlns:ax27="http://ivcWebService.alcaldiabogota.gov.co/xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://ivcWebService.alcaldiabogota.gov.co" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <wsdl:documentation>
        English version of web services for IVC-Alcaldía de Bogotá
    </wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ivcWebService.alcaldiabogota.gov.co/xsd" xmlns:ax28="http://ivcWebService.alcaldiabogota.gov.co">
            <xs:import namespace="http://ivcWebService.alcaldiabogota.gov.co"/>
            <xs:complexType name="IvcWebServiceException">
                <xs:complexContent>
                    <xs:extension base="ax28:Exception">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="error" nillable="true" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="Search">
                <xs:sequence>
                    <xs:element minOccurs="0" name="address_standard" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="id_entity" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="formal" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="commercial_registration" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="number_identification_establishment" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="number_identificacion_legal_representative" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="name_commercial" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="type_identification_establishment" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Stablishment">
                <xs:sequence>
                    <xs:element minOccurs="0" name="upz" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="lastname_owner" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="lastname_legal_representative" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="ciiu1" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="ciiu2" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="ciiu3" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="address_commercial" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="address_standard" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="address_notification" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="stablishment_id" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="date_end_commercial_registration" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="date_commercial_registration" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="formal" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="digit_verification_establishment" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="digit_verification_owner" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="digit_verification_legal_representative" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="locality" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="commercial_registration" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="commercial_registration_owner" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="city" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="number_identification_establishment" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="number_identification_owner" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="number_identificacion_legal_representative" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="name_commercial" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="name_owner" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="name_legal_representative" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="observation" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="observation_history" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="page_web" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="business_name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="type_history" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="type_identification_establishment" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="type_identification_owner" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="type_identification_legal_representative" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="OutIvcWebService">
                <xs:sequence>
                    <xs:element minOccurs="0" name="response_code" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="stablishments" nillable="true" type="ax27:Stablishment"/>
                    <xs:element minOccurs="0" name="response_id" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>         
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ivcWebService.alcaldiabogota.gov.co" xmlns:ax29="http://ivcWebService.alcaldiabogota.gov.co/xsd">
            <xs:import namespace="http://ivcWebService.alcaldiabogota.gov.co/xsd"/>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:anyType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="IvcWebServiceException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="IvcWebServiceException" nillable="true" type="ax27:IvcWebServiceException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="inIvcWebService">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="search" nillable="true" type="ax27:Search"/>
                        <xs:element minOccurs="0" name="stablishment" nillable="true" type="ax27:Stablishment"/>                        
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="inIvcWebServiceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax27:OutIvcWebService"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="inIvcWebServiceRequest">
        <wsdl:part name="parameters" element="ns:inIvcWebService">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="IvcWebServiceException">
        <wsdl:part name="parameters" element="ns:IvcWebServiceException">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="inIvcWebServiceResponse">
        <wsdl:part name="parameters" element="ns:inIvcWebServiceResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="IvcWebServicePortType">
        <wsdl:operation name="inIvcWebService">
            <wsdl:input message="ns:inIvcWebServiceRequest" wsaw:Action="urn:inIvcWebService">
            </wsdl:input>
            <wsdl:output message="ns:inIvcWebServiceResponse" wsaw:Action="urn:inIvcWebServiceResponse">
            </wsdl:output>
            <wsdl:fault name="IvcWebServiceException" message="ns:IvcWebServiceException" wsaw:Action="urn:inIvcWebServiceIvcWebServiceException">
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="IvcWebServiceSoap11Binding" type="ns:IvcWebServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="inIvcWebService">
            <soap:operation soapAction="urn:inIvcWebService" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IvcWebServiceException">
                <soap:fault name="IvcWebServiceException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="IvcWebServiceSoap12Binding" type="ns:IvcWebServicePortType">
        <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="inIvcWebService">
            <soap12:operation soapAction="urn:inIvcWebService" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IvcWebServiceException">
                <soap12:fault name="IvcWebServiceException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="IvcWebServiceHttpBinding" type="ns:IvcWebServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="inIvcWebService">
            <http:operation location="IvcWebService/inIvcWebService"/>
            <wsdl:input>
                <mime:content part="inIvcWebService" type="text/xml"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content part="inIvcWebService" type="text/xml"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="IvcWebService">
        <wsdl:port name="IvcWebServiceHttpSoap11Endpoint" binding="ns:IvcWebServiceSoap11Binding">
            <soap:address location="http://ec2-54-149-120-9.us-west-2.compute.amazonaws.com:8080/axis2/services/IvcWebService.IvcWebServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="IvcWebServiceHttpEndpoint" binding="ns:IvcWebServiceHttpBinding">
            <http:address location="http://ec2-54-149-120-9.us-west-2.compute.amazonaws.com:8080/axis2/services/IvcWebService.IvcWebServiceHttpEndpoint/"/>
        </wsdl:port>
        <wsdl:port name="IvcWebServiceHttpSoap12Endpoint" binding="ns:IvcWebServiceSoap12Binding">
            <soap12:address location="http://ec2-54-149-120-9.us-west-2.compute.amazonaws.com:8080/axis2/services/IvcWebService.IvcWebServiceHttpSoap12Endpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
