xml-resources/axis2/META-INF/IvcWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ivcWebService.alcaldiabogota.gov.co" xmlns:ax27="http://ivcWebService.alcaldiabogota.gov.co/xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://ivcWebService.alcaldiabogota.gov.co" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
<wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ivcWebService.alcaldiabogota.gov.co/xsd" xmlns:ax28="http://ivcWebService.alcaldiabogota.gov.co">
            <xs:import namespace="http://ivcWebService.alcaldiabogota.gov.co"/>
            <xs:complexType name="IvcWebServiceException">
                <xs:complexContent>
                    <xs:extension base="ax28:Exception">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="error" nillable="true" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="Busqueda">
                <xs:sequence>
                    <xs:element minOccurs="0" name="dirEstandar" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="entidadIVC" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="formal" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="matricula" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="noIdent" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="noIdentRepL" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="nomComerc" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="tipoIdent" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Establecimiento">
                <xs:sequence>
                    <xs:element minOccurs="0" name="UPZ" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="apellidosProp" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="apellidosRepL" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="ciiu1" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="ciiu2" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="ciiu3" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="dirComerc" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="dirEstandar" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="dirNotif" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="estaId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="fechaFinMatric" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="fechaMatric" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="formal" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="identDV" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="identDVProp" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="identDVRepL" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="localidad" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mail" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="matricula" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="matriculaProp" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="municipio" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="noIdent" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="noIdentProp" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="noIdentRepL" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="nomComerc" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="nombresProp" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="nombresRepL" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="observac" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="observacHist" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="pagweb" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="razonSocial" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="tels" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="tipoHistorico" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="tipoIdent" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="tipoIdentProp" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="tipoIdentRepL" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="OutIvcWebService">
                <xs:sequence>
                    <xs:element minOccurs="0" name="codigoResp" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="establecimientos" nillable="true" type="ax27:Establecimiento"/>
                    <xs:element minOccurs="0" name="idResp" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="traceIvcWebService" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>         
        </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ivcWebService.alcaldiabogota.gov.co" xmlns:ax29="http://ivcWebService.alcaldiabogota.gov.co/xsd">
            <xs:import namespace="http://ivcWebService.alcaldiabogota.gov.co/xsd"/>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:anyType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="IvcWebServiceException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="IvcWebServiceException" nillable="true" type="ax27:IvcWebServiceException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="inIvcWebService">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="busqueda" nillable="true" type="ax27:Busqueda"/>
                        <xs:element minOccurs="0" name="establecimiento" nillable="true" type="ax27:Establecimiento"/>                        
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="inIvcWebServiceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax27:OutIvcWebService"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
  </wsdl:types>
  <wsdl:message name="inIvcWebServiceRequest">
    <wsdl:part name="parameters" element="ns:inIvcWebService">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="IvcWebServiceException">
    <wsdl:part name="parameters" element="ns:IvcWebServiceException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="inIvcWebServiceResponse">
    <wsdl:part name="parameters" element="ns:inIvcWebServiceResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="IvcWebServicePortType">
    <wsdl:operation name="inIvcWebService">
      <wsdl:input message="ns:inIvcWebServiceRequest" wsaw:Action="urn:inIvcWebService">
    </wsdl:input>
      <wsdl:output message="ns:inIvcWebServiceResponse" wsaw:Action="urn:inIvcWebServiceResponse">
    </wsdl:output>
      <wsdl:fault name="IvcWebServiceException" message="ns:IvcWebServiceException" wsaw:Action="urn:inIvcWebServiceIvcWebServiceException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IvcWebServiceSoap11Binding" type="ns:IvcWebServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="inIvcWebService">
      <soap:operation soapAction="urn:inIvcWebService" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="IvcWebServiceException">
        <soap:fault name="IvcWebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="IvcWebServiceSoap12Binding" type="ns:IvcWebServicePortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="inIvcWebService">
      <soap12:operation soapAction="urn:inIvcWebService" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="IvcWebServiceException">
        <soap12:fault name="IvcWebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="IvcWebServiceHttpBinding" type="ns:IvcWebServicePortType">
    <http:binding verb="POST"/>
    <wsdl:operation name="inIvcWebService">
      <http:operation location="IvcWebService/inIvcWebService"/>
      <wsdl:input>
        <mime:content part="inIvcWebService" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="inIvcWebService" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IvcWebService">
    <wsdl:port name="IvcWebServiceHttpSoap11Endpoint" binding="ns:IvcWebServiceSoap11Binding">
      <soap:address location="http://ec2-54-149-120-9.us-west-2.compute.amazonaws.com:8080/axis2/services/IvcWebService.IvcWebServiceHttpSoap11Endpoint/"/>
    </wsdl:port>
    <wsdl:port name="IvcWebServiceHttpEndpoint" binding="ns:IvcWebServiceHttpBinding">
      <http:address location="http://ec2-54-149-120-9.us-west-2.compute.amazonaws.com:8080/axis2/services/IvcWebService.IvcWebServiceHttpEndpoint/"/>
    </wsdl:port>
    <wsdl:port name="IvcWebServiceHttpSoap12Endpoint" binding="ns:IvcWebServiceSoap12Binding">
      <soap12:address location="http://ec2-54-149-120-9.us-west-2.compute.amazonaws.com:8080/axis2/services/IvcWebService.IvcWebServiceHttpSoap12Endpoint/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
