Project/IvcWebServices/xml-resources/axis2/META-INF/IvcWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://ivcWebServices.alcaldiabogota.gov.co/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://ivcWebServices.alcaldiabogota.gov.co/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://ivcWebServices.alcaldiabogota.gov.co/">
    
    <wsdl:documentation>Final version of web services for IVC-Alcaldía de Bogotá</wsdl:documentation>

    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ivcWebServices.alcaldiabogota.gov.co/xsd">
            <xs:element name="synchronize">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="entity_id" type="xs:int"/>
                        <xs:element name="table_name" type="xs:string"/>
                        <xs:element name="consult_date" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="synchronizeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="update">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="batch" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="establishment">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="upz" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="lastname_owner" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="lastname_legal_representative" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="ciiu1" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="ciiu2" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="ciiu3" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="address_commercial" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="address_standard" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="address_notification" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="stablishment_id" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="date_end_commercial_registration" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="date_commercial_registration" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="formal" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="digit_verification_establishment" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="digit_verification_owner" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="digit_verification_legal_representative" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="locality" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="commercial_registration" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="commercial_registration_owner" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="city" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="number_identification_establishment" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="number_identification_owner" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="number_identificacion_legal_representative" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="name_commercial" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="name_owner" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="name_legal_representative" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="observation" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="observation_history" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="page_web" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="business_name" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="type_history" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="type_identification_establishment" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="type_identification_owner" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="type_identification_legal_representative" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="establishmentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>     
        </xs:schema>
    </wsdl:types>
    
    <wsdl:message name="synchronizeRequest">
        <wsdl:part name="parameters" element="ns:synchronize"/>
    </wsdl:message>
    <wsdl:message name="synchronizeResponse">
        <wsdl:part name="parameters" element="ns:synchronizeResponse"/>
    </wsdl:message>

    <wsdl:message name="establishmentRequest">
        <wsdl:part name="parameters" element="ns:establishment"/>
    </wsdl:message>
    <wsdl:message name="establishmentResponse">
        <wsdl:part name="parameters" element="ns:establishmentResponse"/>
    </wsdl:message>    
    
    <wsdl:message name="updateRequest">
        <wsdl:part name="parameters" element="ns:update"/>
    </wsdl:message>
    <wsdl:message name="updateResponse">
        <wsdl:part name="parameters" element="ns:updateResponse"/>
    </wsdl:message>


    <wsdl:portType name="IvcWebServicesPortType">        
        <wsdl:operation name="synchronize">
            <wsdl:input message="tns:synchronizeRequest" wsaw:Action="urn:synchronize"/>
            <wsdl:output message="tns:synchronizeResponse" wsaw:Action="urn:synchronizeResponse"/>
        </wsdl:operation>
        <wsdl:operation name="establishment">
            <wsdl:input message="tns:establishmentRequest" wsaw:Action="urn:establishment"/>
            <wsdl:output message="tns:establishmentResponse" wsaw:Action="urn:establishmentResponse"/>
        </wsdl:operation>
        <wsdl:operation name="update">
            <wsdl:input message="tns:updateRequest" wsaw:Action="urn:update"/>
            <wsdl:output message="tns:updateResponse" wsaw:Action="urn:updateResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="IvcWebServicesSoap11Binding" type="tns:IvcWebServicesPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>        
        <wsdl:operation name="synchronize">
            <soap:operation soapAction="urn:synchronize" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="establishment">
            <soap:operation soapAction="urn:establishment" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="update">
            <soap:operation soapAction="urn:update" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="IvcWebServicesSoap12Binding" type="tns:IvcWebServicesPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>        
        <wsdl:operation name="synchronize">
            <soap12:operation soapAction="urn:synchronize" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="establishment">
            <soap12:operation soapAction="urn:establishment" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="update">
            <soap12:operation soapAction="urn:update" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="IvcWebServicesHttpBinding" type="tns:IvcWebServicesPortType">
        <http:binding verb="POST"/>        
        <wsdl:operation name="synchronize">
            <http:operation location="synchronize"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="establishment">
            <http:operation location="establishment"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="update">
            <http:operation location="update"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="IvcWebServices">
        <wsdl:port name="IvcWebServicesHttpSoap11Endpoint" binding="tns:IvcWebServicesSoap11Binding">
            <soap:address location="http://tomcat.vivelab.dev/axis2/services/IvcWebServices.IvcWebServicesHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="IvcWebServicesHttpSoap12Endpoint" binding="tns:IvcWebServicesSoap12Binding">
            <soap12:address location="http://tomcat.vivelab.dev/axis2/services/IvcWebServices.IvcWebServicesHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="IvcWebServicesHttpEndpoint" binding="tns:IvcWebServicesHttpBinding">
            <http:address location="http://tomcat.vivelab.dev/axis2/services/IvcWebServices.IvcWebServicesHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>