Project/IvcWebServices/xml-resources/axis2/META-INF/IvcWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://ivcWebServices.alcaldiabogota.gov.co/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://ivcWebServices.alcaldiabogota.gov.co/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://ivcWebServices.alcaldiabogota.gov.co/">
    
    <wsdl:documentation>Final version of web services for IVC-Alcaldía de Bogotá</wsdl:documentation>

    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ivcWebServices.alcaldiabogota.gov.co/xsd">
            <xs:element name="synchronize">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="entity_id" type="xs:int"/>
                        <xs:element name="table_name" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="synchronizeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>            
        </xs:schema>
    </wsdl:types>
    
    <wsdl:message name="synchronizeRequest">
        <wsdl:part name="parameters" element="ns:synchronize"/>
    </wsdl:message>
    <wsdl:message name="synchronizeResponse">
        <wsdl:part name="parameters" element="ns:synchronizeResponse"/>
    </wsdl:message>

    <wsdl:portType name="IvcWebServicesPortType">        
        <wsdl:operation name="synchronize">
            <wsdl:input message="tns:synchronizeRequest" wsaw:Action="urn:synchronize"/>
            <wsdl:output message="tns:synchronizeResponse" wsaw:Action="urn:synchronizeResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="IvcWebServicesSoap11Binding" type="tns:IvcWebServicesPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>        
        <wsdl:operation name="synchronize">
            <soap:operation soapAction="urn:synchronize" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="IvcWebServicesSoap12Binding" type="tns:IvcWebServicesPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>        
        <wsdl:operation name="synchronize">
            <soap12:operation soapAction="urn:synchronize" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="IvcWebServicesHttpBinding" type="tns:IvcWebServicesPortType">
        <http:binding verb="POST"/>        
        <wsdl:operation name="synchronize">
            <http:operation location="synchronize"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="IvcWebServices">
        <wsdl:port name="IvcWebServicesHttpSoap11Endpoint" binding="tns:IvcWebServicesSoap11Binding">
            <soap:address location="http://tomcat.vivelab.dev/axis2/services/IvcWebServices.IvcWebServicesHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="IvcWebServicesHttpSoap12Endpoint" binding="tns:IvcWebServicesSoap12Binding">
            <soap12:address location="http://tomcat.vivelab.dev/axis2/services/IvcWebServices.IvcWebServicesHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="IvcWebServicesHttpEndpoint" binding="tns:IvcWebServicesHttpBinding">
            <http:address location="http://tomcat.vivelab.dev/axis2/services/IvcWebServices.IvcWebServicesHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
